@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@layer components {
  .navBtn--common {
    @apply hidden md:inline-flex cursor-pointer h-6 w-10 hover:scale-125 transition-all duration-150 ease-out;
  }

  .navBtn--profile {
    @apply hidden md:inline-flex cursor-pointer;
  }

  .navBtn--mobile {
    @apply inline-flex cursor-pointer h-6 w-10 hover:scale-125 transition-all duration-150 ease-out;
  }

  .navbar--search {
    @apply hidden md:inline-flex;
  }
}
